In [34]:
import pandas as pd
import numpy as np

# Diffraction Peak Table
Q5

In [40]:
columns = ["Line", "h", "k", "l", "theta2", "theta", "sin(theta)/lambda", "fK", "fBr", "sign", "F", "F2", "p", "L-p", "I", "Thy", "Exp"]

In [41]:
dpt = pd.DataFrame(columns=columns)

In [42]:
dpt.Line = [i for i in range(1, 12 + 1)]

In [38]:
dpt.h = [1, 2, 2, 3, 2, 4, 3, 4, 4, 3, 4, 6]
dpt.k = [1, 0, 2, 1, 2, 0, 3, 2, 2, 3, 4, 0]
dpt.l = [1, 0, 0, 1, 2, 0, 1, 0, 2, 3, 0, 0]

In [14]:
# TODO: Add data here

In [43]:
dpt

,Line,h,k,l,theta2,theta,sin(theta)/lambda,fK,fBr,sign,F,F2,p,L-p,I,Thy,Exp
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Transform data

In [44]:
dpt.theta = dpt.theta2 / 2

In [45]:
# sign is + if h + k + l is even, - otherwise
dpt.sign = (dpt[["h", "k", "l"]].sum(axis=1) % 2 == 0).map({True: "+", False: "-"})

In [48]:
dpt.F = 4 * (dpt.fK + dpt.fBr)

In [49]:
dpt.I = dpt.F2 * dpt.p * (1 + np.cos(dpt.theta2) ** 2) / (np.sin(dpt.theta) ** 2 * np.cos(dpt.theta))

TypeError: loop of ufunc does not support argument 0 of type float which has no callable cos method