In [2]:
import pandas as pd
import numpy as np

# Q1

In [13]:
planes = [
    [1, 3 ,3],
    [2, 4, 4],
    [2, 2, 4],
    [2, 0, 4]
]
for (h, k, l) in planes:
    print(
        np.degrees(np.arcsin(h / np.sqrt(h ** 2 + k ** 2 + l** 2)))
    )

13.262676008304844
19.47122063449069
24.094842552110705
26.56505117707799

# Q3

In [10]:
a = 5.64e-10
k_alpha = 1.54e-10
k_beta = 1.39e-10
planes = [
    (1, 0, 0),
    (2, 0, 0),
    (3, 0, 0),
    (4, 0, 0),
    (1, 1, 0),
    (2, 2, 0),
    (3, 3, 0),
    (4, 4, 0),
    (1, 1, 1),
    (2, 2, 2),
    (3, 3, 3),
    (4, 4, 4),
    
]
for (h, k, l) in planes:
    for wavelength in [k_alpha, k_beta]:
        print(
            (h, k, l),
            wavelength, 
            f'{np.degrees(np.sin(wavelength / 2 * np.sqrt(h**2 + k**2 + l**2)/ a)):.2f}'
        )

(1, 0, 0) 1.54e-10 7.80
(1, 0, 0) 1.39e-10 7.04
(2, 0, 0) 1.54e-10 15.45
(2, 0, 0) 1.39e-10 13.98
(3, 0, 0) 1.54e-10 22.82
(3, 0, 0) 1.39e-10 20.70
(4, 0, 0) 1.54e-10 29.76
(4, 0, 0) 1.39e-10 27.11
(1, 1, 0) 1.54e-10 10.99
(1, 1, 0) 1.39e-10 9.93
(2, 2, 0) 1.54e-10 21.58
(2, 2, 0) 1.39e-10 19.57
(3, 3, 0) 1.54e-10 31.36
(3, 3, 0) 1.39e-10 28.61
(4, 4, 0) 1.54e-10 39.98
(4, 4, 0) 1.39e-10 36.78
(1, 1, 1) 1.54e-10 13.42
(1, 1, 1) 1.39e-10 12.14
(2, 2, 2) 1.54e-10 26.10
(2, 2, 2) 1.39e-10 23.72
(3, 3, 3) 1.54e-10 37.32
(3, 3, 3) 1.39e-10 34.23
(4, 4, 4) 1.54e-10 46.47
(4, 4, 4) 1.39e-10 43.19

# Q5

In [3]:
columns = ["Line", "h", "k", "l", "theta2", "theta", "sin(theta)/lambda", "fK", "fBr", "sign", "F", "F2", "p", "Lp", "I", "Thy", "Exp"]

In [4]:
dpt = pd.DataFrame(columns=columns)

In [5]:
dpt.Line = [i for i in range(1, 12 + 1)]

In [6]:
dpt.h = [1, 2, 2, 3, 2, 4, 3, 4, 4, 3, 4, 6]
dpt.k = [1, 0, 2, 1, 2, 0, 3, 2, 2, 3, 4, 0]
dpt.l = [1, 0, 0, 1, 2, 0, 1, 0, 2, 3, 0, 0]

In [14]:
# TODO: Add data here

In [7]:
dpt

,Line,h,k,l,theta2,theta,sin(theta)/lambda,fK,fBr,sign,F,F2,p,Lp,I,Thy,Exp
0,1,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,3,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,4,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,7,3,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,4,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,4,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,3,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,4,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,12,6,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Transform data

In [8]:
dpt.theta = dpt.theta2 / 2

In [9]:
# sign is + if h + k + l is even, - otherwise
dpt.sign = (dpt[["h", "k", "l"]].sum(axis=1) % 2 == 0).map({True: "+", False: "-"})

In [10]:
dpt.F = 4 * (dpt.fK + dpt.fBr)

In [11]:
dpt.I = dpt.F2 * dpt.p * (1 + np.cos(dpt.theta2) ** 2) / (np.sin(dpt.theta) ** 2 * np.cos(dpt.theta))

TypeError: loop of ufunc does not support argument 0 of type float which has no callable cos method