In [139]:
import pandas as pd
import numpy as np

# Q1

In [140]:
planes = [
    [1, 3 ,3],
    [2, 4, 4],
    [2, 2, 4],
    [2, 0, 4]
]
for (h, k, l) in planes:
    print(
        np.degrees(np.arcsin(h / np.sqrt(h ** 2 + k ** 2 + l** 2)))
    )

13.262676008304844
19.47122063449069
24.094842552110705
26.56505117707799

# Q3

In [141]:
a = 5.64e-10
k_alpha = 1.54e-10
k_beta = 1.39e-10
planes = [
    (1, 0, 0),
    (2, 0, 0),
    (3, 0, 0),
    (4, 0, 0),
    (1, 1, 0),
    (2, 2, 0),
    (3, 3, 0),
    (4, 4, 0),
    (1, 1, 1),
    (2, 2, 2),
    (3, 3, 3),
    (4, 4, 4),
    
]
for (h, k, l) in planes:
    for wavelength in [k_alpha, k_beta]:
        print(
            (h, k, l),
            wavelength, 
            f'{np.degrees(np.sin(wavelength / 2 * np.sqrt(h**2 + k**2 + l**2)/ a)):.2f}'
        )

(1, 0, 0) 1.54e-10 7.80
(1, 0, 0) 1.39e-10 7.04
(2, 0, 0) 1.54e-10 15.45
(2, 0, 0) 1.39e-10 13.98
(3, 0, 0) 1.54e-10 22.82
(3, 0, 0) 1.39e-10 20.70
(4, 0, 0) 1.54e-10 29.76
(4, 0, 0) 1.39e-10 27.11
(1, 1, 0) 1.54e-10 10.99
(1, 1, 0) 1.39e-10 9.93
(2, 2, 0) 1.54e-10 21.58
(2, 2, 0) 1.39e-10 19.57
(3, 3, 0) 1.54e-10 31.36
(3, 3, 0) 1.39e-10 28.61
(4, 4, 0) 1.54e-10 39.98
(4, 4, 0) 1.39e-10 36.78
(1, 1, 1) 1.54e-10 13.42
(1, 1, 1) 1.39e-10 12.14
(2, 2, 2) 1.54e-10 26.10
(2, 2, 2) 1.39e-10 23.72
(3, 3, 3) 1.54e-10 37.32
(3, 3, 3) 1.39e-10 34.23
(4, 4, 4) 1.54e-10 46.47
(4, 4, 4) 1.39e-10 43.19

# Q5

In [1]:
columns = ["Line", "h", "k", "l", "theta2", "theta", "stl", "fK", "fBr", "sign", "F", "F2", "p", "Lp", "I", "Thy", "Exp"]

In [143]:
dpt = pd.DataFrame(columns=columns)

In [144]:
dpt.Line = [i for i in range(1, 12 + 1)]

In [145]:
dpt.h = [1, 2, 2, 3, 2, 4, 3, 4, 4, 3, 4, 6]
dpt.k = [1, 0, 2, 1, 2, 0, 3, 2, 2, 3, 4, 0]
dpt.l = [1, 0, 0, 1, 2, 0, 1, 0, 2, 3, 0, 0]

In [146]:
wavelength =1.540562e-10 
dpt.theta2 = [23.35, 27.05, 38.65, 45.60, 47.80, 55.75, 61.20, 63.00, 69.80, 74.75, 82.70, 88.95]
dpt.theta = dpt.theta2 / 2
dpt.stl = np.sin(np.radians(dpt.theta)) / wavelength

In [160]:
dpt.stl / 1e10

0    0.13
1    0.15
2    0.21
3    0.25
4    0.26
5    0.30
6    0.33
7    0.34
8    0.37
9    0.39
10   0.43
11   0.45
Name: stl, dtype: float64

In [147]:
dpt.fK = [14.519, 15.297, 13.150, 12.275, 11.997, 10.972, 10.515, 10.097, 9.369, 9.056, 8.518, 8.399 ]
dpt.fBr = [26.548, 26.099, 23.622, 22.606, 22.261, 19.832, 19.146, 18.469, 17.157, 16.528, 15.332, 15.046]

In [148]:
# sign is + if h + k + l is even, - otherwise
dpt.sign = (dpt[["h", "k", "l"]].sum(axis=1) % 2 == 0).map({True: 1, False: -1})

In [149]:
dpt.F = 4 * (dpt.fK + dpt.sign * dpt.fBr)
dpt.F2 = dpt.F ** 2

In [150]:
dpt.Lp = (1 + np.cos(dpt.theta2)) / (np.sin(dpt.theta) ** 2 * np.cos(dpt.theta))

In [151]:
dpt.p = [8, 6, 12, 24, 8, 6, 24, 48, 24, 8, 12, 6]

In [152]:
dpt.I = dpt.F2 * dpt.p * dpt.Lp

In [153]:
dpt.Lp = dpt.F2 * dpt.p * (1 + np.cos(np.radians(dpt.theta2)) ** 2) / (np.sin(np.radians(dpt.theta) ** 2 * np.cos(np.radians(dpt.theta))))

In [154]:
dpt.Thy = dpt.Lp / max(dpt.Lp)

In [155]:
dpt.Exp = np.array([1284, 7344, 3977, 1009, 1602, 1340, 588, 1911, 1133, 521, 647, 802]) / 7344

In [156]:
dpt

,Line,h,k,l,theta2,theta,stl,fK,fBr,sign,F,F2,p,Lp,I,Thy,Exp
0,1,1,1,1,23.35,11.68,1313546676.55,14.52,26.55,-1,-48.12,2315.15,8,839659.88,38460.33,0.15,0.17
1,2,2,0,0,27.05,13.53,1518079882.77,15.30,26.10,1,165.58,27418.06,6,5447667.42,282279.46,1.00,1.00
2,3,2,2,0,38.65,19.32,2148087334.94,13.15,23.62,1,147.09,21634.88,12,3900924.99,2203363.63,0.72,0.54
3,4,3,1,1,45.60,22.80,2515417013.09,12.28,22.61,-1,-41.32,1707.67,24,419679.28,-108101.53,0.08,0.14
4,5,2,2,2,47.80,23.90,2629829807.43,12.00,22.26,1,137.03,18777.77,8,1376194.21,111957.88,0.25,0.22
5,6,4,0,0,55.75,27.88,3034893462.44,10.97,19.83,1,123.22,15182.18,6,577484.08,-1110357.90,0.11,0.18
6,7,3,3,1,61.20,30.60,3304257899.07,10.52,19.15,-1,-34.52,1191.91,24,145009.28,73893.09,0.03,0.08
7,8,4,2,0,63.00,31.50,3391610105.38,10.10,18.47,1,114.26,13056.26,48,2965668.35,177116491.51,0.54,0.26
8,9,4,2,2,69.80,34.90,3713877620.28,9.37,17.16,1,106.10,11258.06,24,1009294.26,-4513309.71,0.19,0.15
9,10,3,3,3,74.75,37.38,3940309790.50,9.06,16.53,-1,-29.89,893.29,8,23032.23,133586.60,0.00,0.07
10,11,4,4,0,82.70,41.35,4288415644.43,8.52,15.33,1,95.40,9101.16,12,291199.71,-802242.96,0.05,0.09
11,12,6,0,0,88.95,44.48,4547677947.20,8.40,15.05,1,93.78,8794.69,6,126638.66,415592.06,0.02,0.11

In [158]:
print(dpt.to_latex(index=False))

\begin{tabular}{rrrrrrrrrrrrrrrrr}
\toprule
Line & h & k & l & theta2 & theta & stl & fK & fBr & sign & F & F2 & p & Lp & I & Thy & Exp \\
\midrule
1 & 1 & 1 & 1 & 23.350000 & 11.675000 & 1313546676.552136 & 14.519000 & 26.548000 & -1 & -48.116000 & 2315.149456 & 8 & 839659.876456 & 38460.325569 & 0.154132 & 0.174837 \\
2 & 2 & 0 & 0 & 27.050000 & 13.525000 & 1518079882.773618 & 15.297000 & 26.099000 & 1 & 165.584000 & 27418.061056 & 6 & 5447667.416975 & 282279.460151 & 1.000000 & 1.000000 \\
3 & 2 & 2 & 0 & 38.650000 & 19.325000 & 2148087334.944864 & 13.150000 & 23.622000 & 1 & 147.088000 & 21634.879744 & 12 & 3900924.987610 & 2203363.634893 & 0.716073 & 0.541531 \\
4 & 3 & 1 & 1 & 45.600000 & 22.800000 & 2515417013.090696 & 12.275000 & 22.606000 & -1 & -41.324000 & 1707.672976 & 24 & 419679.276593 & -108101.529088 & 0.077038 & 0.137391 \\
5 & 2 & 2 & 2 & 47.800000 & 23.900000 & 2629829807.433018 & 11.997000 & 22.261000 & 1 & 137.032000 & 18777.769024 & 8 & 1376194.214657 & 111957.879121 & 0.252621 & 0.218137 \\
6 & 4 & 0 & 0 & 55.750000 & 27.875000 & 3034893462.435581 & 10.972000 & 19.832000 & 1 & 123.216000 & 15182.182656 & 6 & 577484.081134 & -1110357.899361 & 0.106006 & 0.182462 \\
7 & 3 & 3 & 1 & 61.200000 & 30.600000 & 3304257899.067816 & 10.515000 & 19.146000 & -1 & -34.524000 & 1191.906576 & 24 & 145009.276432 & 73893.086962 & 0.026619 & 0.080065 \\
8 & 4 & 2 & 0 & 63.000000 & 31.500000 & 3391610105.376796 & 10.097000 & 18.469000 & 1 & 114.264000 & 13056.261696 & 48 & 2965668.351412 & 177116491.507739 & 0.544392 & 0.260212 \\
9 & 4 & 2 & 2 & 69.800000 & 34.900000 & 3713877620.280885 & 9.369000 & 17.157000 & 1 & 106.104000 & 11258.058816 & 24 & 1009294.257515 & -4513309.713068 & 0.185271 & 0.154276 \\
10 & 3 & 3 & 3 & 74.750000 & 37.375000 & 3940309790.502000 & 9.056000 & 16.528000 & -1 & -29.888000 & 893.292544 & 8 & 23032.225766 & 133586.601773 & 0.004228 & 0.070942 \\
11 & 4 & 4 & 0 & 82.700000 & 41.350000 & 4288415644.432510 & 8.518000 & 15.332000 & 1 & 95.400000 & 9101.160000 & 12 & 291199.705234 & -802242.962431 & 0.053454 & 0.088099 \\
12 & 6 & 0 & 0 & 88.950000 & 44.475000 & 4547677947.202930 & 8.399000 & 15.046000 & 1 & 93.780000 & 8794.688400 & 6 & 126638.661807 & 415592.055750 & 0.023246 & 0.109205 \\
\bottomrule
\end{tabular}